li {
    list-style-type: none;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: nont;
    color: inherit;
    cursor: pointer;
}